* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 120%;
}

header {
    padding-bottom: 1em;
    border-bottom: 1px solid;
}

    header form {
        width: 100%;
        display: table;
        padding: 1em 0 0;
    }

    header div {
        display: table-cell;
        width: 100%;
    }

    header input {
        width: 100%;
        padding: .5em 1em;
    }

    header button {
        color: black;
        padding: .5em 1em;
        white-space: nowrap;
        margin: 0 0 0 1em;
    }

input, button {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

main {
    font-size: 18px;
    line-height: 1.6;
    max-width: 900px;
    margin: 0px auto;
    padding: 0 10px;
}

/*-----------------------*/
body {
    background: #eee;
    color: #333;
}

header {
    border-bottom-color: #333;
}

h1, h2, h3, h4, h5 {
    color: #000;
}

    h1 small {
        display: block;
        font-size: 60%;
    }

a {
    color: #6f0fff;
}

    a:visited {
        color: #9f0fff;
    }

    a:hover {
        color: #f00;
    }


/*-----------------------*/

body.dark {
    background: #333;
    color: #eee;
}

    body.dark header {
        border-bottom-color: #eee;
    }

    body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5 {
        color: #fff;
    }

    body.dark a {
        color: #9ff;
    }

        body.dark a:visited {
            color: #6ff;
        }

        body.dark a:hover {
            color: #ffd600;
        }
