<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} - Readability Parser</title>
    <meta name="description" content="Remove all the cruft from web pages for a pleasant reading experience">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="{{theme}}">
    <header>
        <form id="form-data" method="get" action="/">
            <div class="url">
                <input type="search" name="url" maxlength="500" size="50"
                       placeholder="https://mercury.postlight.com/web-parser/"
                       value="{{url}}" />
            </div>
            <div class="options">
                <label title="Switch between dark and light theme">
                    <input type="checkbox" id="theme" name="theme" value="dark" {% if theme == "dark" %}checked="checked" {% endif %} />
                    Dark
                </label>
                <label title="Redirect links from parser or leave them as original links">
                    <input type="checkbox" id="links" name="links" value="original" {% if links == "original" %}checked="checked" {% endif %}>
                    Original
                </label>
            </div>
            <div class="submit">
                <button>&#9654;</button>
            </div>
        </form>
    </header>
    <main>
        {% if content %}
        {% if url %}
        <small><a href="{{url}}">{{url}}</a></small>
        {% endif %}
        <h1>
            {{title}}
        </h1>
        {% autoescape false %}<div>
            {{content}}
        </div>
        {% endautoescape %}
        {% else %}<div>
            Unable to parse content
        </div>
        {% endif %}

    </main>
</body>
</html>
